* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.create__post__section form {
  border: 2px solid #dadada;
  padding: 8px 16px; 
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.create__post__section form input {
  padding: 4px;
}

.image__inp__container {
  border: 2px solid black;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* feed */

.feed__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post__img__container {
  height: 250px;
}

.post__img {
  height: 100%;
  width: 100%;
}
